@font-face {
	font-family: HelveticaNeue;
	src: url('$lib/fonts/HelveticaNeueMedium.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: HelveticaNeue;
	src: url('$lib/fonts/HelveticaNeueBold.otf');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: HelveticaNeue;
	src: url('$lib/fonts/HelveticaNeueHeavyItalic.otf');
	font-weight: bold;
	font-style: italic;
}

:root {
	--font-body: HelveticaNeue, sans-serif;
	--font-mono: monospace;
	--color-bg: black;
	--color-text: white;
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg);
}
